@media only screen and (max-width: 890px) {

    /* Header */
    header .desktop li.tablet{display: list-item;}
    .tablet a{
        padding: .1875rem .5rem;
        background-color: var(--color-mustard);
        line-height: 1.6;
        color: var(--color-light);
    }

    /* Features */
    .feature .center{
        text-align: left;
    }
    .feature .content{
        height: min-content;
        margin-bottom: 1.875rem;
    }

    /* Sign Up */
    #sign-up-section {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: 28rem;
        background-size: 100% 100%;
    }
    #sign-up-cta {
        display: flex;
        align-items: center;
        height: min-content;
        background-color: transparent;
        border: none;
    }
    #sign-up-cta .email {display: none;}
    #sign-up-cta h1 {font-size: 3.125rem;}
    #sign-up-cta h2 {font-size: 2.25rem;}

    /* Filters */
    #filters-section {padding: 4rem .2% .2% .2%;}

    /* Quotes */
    #quotes-section .content {align-items: flex-start;}
    #quotes-section .quote {text-align: left;}
}


@media only screen and (max-width: 760px) {
    
    /* Universal */
    .main-content {top: 2.5625rem;}

    /* Header */
    header {
        height: 3rem;
        align-content: center;
        overflow: hidden;
    }
    header .desktop {display: none;}
    
    header .mobile {
        padding: 0;
        margin: 0 .5rem;
        display: block;
        width: 100%;
    }
    header .content {
        padding: 0;
        margin: 0;
        height: fit-content;
    }
    header .mobile ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    header .mobile li {padding: 0;}
    header .mobile .button {
        padding: .1875rem .5rem;
        background-color: var(--color-mustard);
        line-height: 1.6;
        color: var(--color-light);
    }

    /* Sign up */
    #sign-up-section{
        background-size: cover;
        background-position: right;
    }


    /* Features */
    #features-section {
        flex-flow: column;
        padding: 0;
    }
    
    .feature .content{text-align: center;}

    .feature {
        margin: 0;
        padding: 1.25rem 1rem 0 1rem;
    }


    /* Filters */
    #filters-section {padding: 1.5rem 0 0 0;}
    #filters-section .content {margin-bottom: 1rem;}
    #filters-section .content h2 {
        padding-bottom: .625rem;
        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: normal;
    }
    #filters-section .content h3 {
        font-size: .875rem;
        line-height: 1.4;
    }
    #filters-section .images-container {
        padding: 0;
        padding-bottom: .2%;
        grid-template-columns: repeat(3, 1fr);
    }
    #filters-section .extra {display: none;}


    /* Quotes */
    #quotes-section .content {
        padding: 1.875rem .625rem;
        flex-flow: column;
    }
    #quotes-section .quote {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.4;
        text-align: center;
    }
    #quotes-section .quote-citation {
        display: block;
        padding-top: 1rem;
        margin: auto;
    }


    /* Footer */
    footer .content {font-size: .625rem;}
}

@media only screen and (max-width: 450px) {

    /* Sign Up */
    #sign-up-section {height: 20rem;}

    #sign-up-cta h1 {
        font-size: 2.25rem;
    }

    #sign-up-cta h2 {
        font-size: 2rem;
    }

    /* Features */
    .feature{padding: 0;}
    .feature .center{
        margin: 1rem .5rem 1.875rem .5rem;
        text-align: center;
    }

    .feature .content{
        margin-top: 1.5rem;
    }
    .feature h2 {
        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: normal;
    }
    .feature h3 {
        font-size: .875rem;
        line-height: 1.4;
    }
}